$color_1: #fff;
$color_opacity: #ffffff1a;
$color_2: #888;
$color_3: black;
$color_4: white;
$color_5: #ff85c2;
$color_6: #ccc;
$font-family_1: "Lato", sans-serif;
$background-color_1: #070709;
$background-color_2: #151519;
$background-color_3: transparent;
$background-color_4: #ff1a8c;
$background-color_6: #e60073;
$background-color_7: #000;

/* General Styles */
/* Navbar */
/* Media Query for small screens */
/* Cards Section */
/* Pricing Cards Section */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: $font-family_1;
  background-color: $background-color_1;
  color: $color_1;
}
.nav {
  padding: 16px 48px;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  img {
    width: 241px;
  }
}
.nav-links {
  a {
    color: $color_1;
    text-decoration: none;
    margin-left: 48px;
    transition: color 0.3s;
    &:hover {
      color: $color_2;
    }
  }
}
.nav-links-footer {
  a {
    color: $color_1;
    text-decoration: none;
    margin-left: 48px;
    transition: color 0.3s;
    &:hover {
      color: $color_2;
    }
  }
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  text-align: center;
  background: url("/src/images/hero.png") no-repeat center center/cover;
  position: relative;
  background-size: 806px auto;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
  }
}
.hero-content {
  position: relative;
  z-index: 1;
  padding: 16px;
  h2 {
    font-size: 36px;
    margin-bottom: 16px;
    font-weight: 500;
  }
  h1 {
    font-size: 64px;
    margin-bottom: 16px;
    font-weight: 700;
  }
  p {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 71px;
  }
  button {
    background-color: $background-color_4;
    color: $color_4;
    padding: 12px 49px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: $background-color_6;
    }
  }
}

.cards-wrapper {
  display: flex;
  justify-content: center;
  background: url("/src/images/features.svg") no-repeat;
  background-size: 100% auto;
  background-position: left top;
  height: 700px;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.ellipse {
  position: absolute;
}
.ellipse-2 {
  top: -248px;
  left: 54px;
}
.ellipse-3 {
  top: -365px;
  left: 0px;
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  row-gap: 48px;
  max-width: 1144px;
  width: 100%;
  z-index: 2;
  margin: 0 32px;
  > h2 {
    display: none;
  }
}
.card {
  background-color: $background-color_2;
  border-radius: 12px;
  padding: 24px;
  display: flex;
  align-items: start;
  height: 127px;
}
.card-icon {
  margin-right: 16px;
  img {
    width: 40px;
    height: 40px;
  }
}
.card-text {
  h2 {
    font-size: 24px;
    font-weight: 700;
  }
  p {
    font-size: 16px;
    padding-top: 12px;
    font-weight: 500;
  }
}
.pricing-cards-container {
  display: grid;
  gap: 24px;
  width: 100%;
  padding: 32px;
  min-height: 100vh;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(400px, auto));
  h2 {
    display: none;
  }
}
.pricing-card {
  background-color: $background-color_2;
  border-radius: 12px;
  padding-left: 24px;
  height: 486px;
}
.pricing-card.special {
  background: url("/src/images/gradient-background.png") no-repeat;
  background-position: -422px 180px;
  background-color: $background-color_2;
}
.pricing-title {
  color: $color_5;
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 32px;
  font-weight: 500;
  line-height: 28px;
}

.pricing-amount {
  color: $color_1;
  font-size: 48px;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 57px;
}
.pricing-subtitle {
  color: $color_1;
  font-size: 24px;
  margin-bottom: 48px;
  font-weight: 500;
  line-height: 28px;
}
.pricing-features {
  p {
    color: $color_1;
    font-size: 16px;
    margin-bottom: 20px;
    padding-left: 24px;
    font-weight: 400;
    line-height: 19px;
  }
}
.about-us {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 24px;
  background: url("/src/images/about-us.svg") no-repeat;
  background-size: 100% auto;
  background-position: center;
  p {
    font-size: 24px;
    line-height: 28px;
    text-align: left;
    max-width: 442px;
    margin: 0;
    font-weight: 400;
  }
}
.subscribe-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  height: 100vh;
  background: url("/src/images/coming-soon.svg") no-repeat;
  background-size: 60% auto;
  background-position: left center;
}
.subscribe-text {
  text-align: left;
  font-size: 18px;
  max-width: 300px;
  margin: 0;
  font-weight: 400;
  line-height: 21px;
}
.subscribe-card {
  padding: 48px 56px;
  border-radius: 12px;
  text-align: left;
  background-color: $background-color_2;
  width: 559px;
  p {
    margin-bottom: 32px;
    color: $color_1;
    font-family: 500;
    font-size: 18px;
    line-height: 21px;
  }
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 32px;
    border: 1px solid $color_opacity;
    border-radius: 9px;
    background-color: $background-color_2;
    color: $color_1;
    font-size: 1rem;
    &::placeholder {
      color: $color_opacity;
    }
  }
  button {
    background-color: $background-color_4;
    color: $color_4;
    padding: 12px 49px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: $background-color_6;
    }
  }
}

.footer-nav {
  background-color: $background-color_1;
  padding: 1rem 0;
}
.footer-credits {
  text-align: center;
  padding: 1rem 0;
  p {
    margin: 0;
    color: $color_1;
  }
}
@media (max-width: 640px) {
  .hero {
    background-size: 100% auto;
    width: 100%;
    align-items: start;
    background-position: top center;
    padding-top: 72px;
  }
  .hero-content {
    position: relative;
    z-index: 1;
    padding: 16px;
    h2 {
      font-size: 20px;
      margin-bottom: 16px;
      font-weight: 500;
    }
    h1 {
      font-size: 20px;
      font-weight: 500;
    }
    p {
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 77px;
    }
  }

  .cards-wrapper {
    background: unset;
    height: unset;
  }
  .cards-container {
    display: flex;
    flex-direction: column;
    h2 {
      display: block;
      font-size: 32px;
      font-weight: 700;
      line-height: 38px;
    }
  }
  .card {
    height: unset;
  }
  .card-text {
    h2 {
      font-size: 18px;
      font-weight: 700;
    }
  }
  .card-icon {
    margin-right: 16px;
    img {
      width: 24px;
      height: 24px;
    }
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  .nav-links {
    display: none;
  }
  .nav-links-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 48px;
    margin-top: 24px;
    gap: 24px;
    width: 100%;
  }

  .nav-links-footer a {
    text-decoration: none;
    color: $color_1;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    align-items: start;
    margin-left: unset;
  }
  .logo {
    img {
      width: 143px;
    }
  }
  .pricing-cards-container {
    grid-template-columns: unset;
    margin-top: 80px;
    h2 {
      display: block;
      font-size: 32px;
      font-weight: 700;
      line-height: 38px;
    }
  }
  .about-us {
    background: unset;
    align-items: start;
    flex-direction: column;
    height: unset;
    margin-top: 240px;
    h2 {
      display: block;
      margin-bottom: 54px;
      font-weight: 700;
      font-size: 32px;
      line-height: 38px;
    }
    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
    }
  }

  .subscribe-section {
    background: unset;
    justify-content: center;
    flex-direction: column;
  }
  .subscribe-card {
    width: 100%;
    padding: 16px;
    margin-top: 24px;
    button {
      padding: 12px 16px;
    }
  }
  .pricing-title {
    font-size: 20px;
    margin-top: 24px;
    font-weight: 600;
    line-height: 24px;
  }
  .pricing-amount {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
  }
  .pricing-subtitle {
    font-size: 20px;
    line-height: 24px;
  }
  .pricing-features {
    p {
      font-size: 14px;
      padding-left: 24px;
      font-weight: 400;
      line-height: 16px;
    }
  }
  .pricing-card {
    height: unset;
  }
  .subscribe-card {
    padding: 16px;
    width: 100%;
    p {
      margin-bottom: 24px;
      font-size: 14px;
      line-height: 16px;
    }
    input {
      margin-bottom: 24px;
      border-radius: 9px;
    }
  }
}
